### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

getting-started/node_modules/*
getting-started/dist/*.js

asset-management/node_modules/*
asset-management/src/*.jpg

asset-management/dist/*.js
asset-management/dist/*.woff
asset-management/dist/*.jpg




